<h1>New Review</h1>
<%= form_with model: @review, url: restaurant_reviews_path(@restaurant) do |form| %>
  <%= form.label :content %>
  <%= form.text_area :content %>

  <%= form.label :rating %>
  <%= form.number_field :rating, in: 1..5 %>

  <%= form.submit "Submit Review" %>
<% end %>
